/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}

.sect1 {
  position: relative;
  min-height: 400px;
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: white;
  padding: 15px 2%;
  width: 100%;
  max-width: 700px;
}

.custom-title {
  position: relative;
}

.custom-title h2 {
  position: relative;
  font-size: 30px;
  color: #777;
  z-index: 2;
  padding-right: 10px;
  display: inline-block;
  background: white;
}

.custom-title > div {
  width: 100%;
  position: absolute;
  height: 3px;
  z-index: 1;
  background: #777;
  left: 0;
  top: 50px;
}

.offset-equipe {
  position: relative;
  top: 90px;
}


@media screen and (max-width: 768px) {
  .offset-equipe {
    top: 0;
  }
}

